<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    
    <Level>On</Level>
    
    <Modules>
        <Module>
            <Name>App</Name>
            <Level>On</Level>
        </Module>
    </Modules>
            
    <Targets>
        <Target xsi:type="LoggerConfigTargetFile">
            <Location></Location>
            <Backup>
                <MaxSize>10M</MaxSize>
                <MaxCount>3</MaxCount>
            </Backup>
        </Target>
    </Targets>
</Config>