<?xml version="1.0" encoding="utf-8" ?>
<log xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    
    <variable name="logLevel" value="${pad:padding=5:inner=${level:uppercase=true}}"/>
    <variable name="logThread" value="${threadid:padding=2}"/>
    <variable name="logLayout" value="[${time}] ${logLevel} [${logThread}] [${logger}] ${message}"/>

    <targets>
        <target name="file" xsi:type="File" fileName="logs/app.log" layout="${logLayout}"/>
        <target name="fileErrors" xsi:type="File" fileName="logs/errors.log" layout="${logLayout}"/>
        <target name="debugger" xsi:type="Debugger" layout="${logLayout}"/>

        <!--Включить для консольного приложения-->
        <!--<target name="console" xsi:type="ColoredConsole" layout="${logLayout}"/>-->
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="file, debugger" />
        <logger name="*" minlevel="Error" writeTo="fileErrors" />
    </rules>
</log>

